<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>ADMIN CHATBOT</title>
	<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
	<script src="js/jquery.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js" type="text/javascript"></script>
	<link rel="icon" type="image/ico" href="img/favicon.ico"/>
	<meta charset="utf-8" />
	<meta http-equiv="cache-control" content="no-cache" />
	<meta http-equiv="expires" content="0" />
	<meta http-equiv="pragma" content="no-cache" />
	<link rel="stylesheet" href="css/dark_theme.css" />
</head>

<body>
	<nav class="navbar navbar-expand-sm">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link text-white" href="/">
					Sair
				</a>
			</li>
		</ul>
	</nav>
	<br>
	<div class="container">
		<h3 align="center">Administração de Usuários 👮</h3>
		<br>

		<!--TABLE-->

		<table width="100%" cellpadding="20px">
			<tr>
				<td>
					<div align="center" style="height: 300px;">
						<input type="text" hidden id="code_user">
						<label class="radio-inline">
							<input type="radio" value="false" name="activate" id="activateF" onchange="alertFalse()">
							Desativado
						</label>
						<label class="radio-inline">
							<input type="radio" checked value="true" name="activate" id="activateT" onchange="alertFalse()">
							Ativado
						</label>
						<form action="#" onsubmit="salvar();return false;">
							<div align="left">
								Nome Completo:
								<input required type="text" class="form-control" id="full_name" placeholder="Nome completo"
									onchange="alertFalse()"><br>
								Usuário:
								<input required type="text" class="form-control" id="user_name" placeholder="Nome de usuário"
									onchange="alertFalse()"><br>
								Email:
								<input required type="email" class="form-control" id="email" placeholder="Email"
									onchange="alertFalse()"><br>
								Senha:
								<input required type="text" class="form-control" id="password" placeholder="Senha"
									onchange="alertFalse()"><br>
							</div>
							<input type="submit" value="SALVAR" class="btn btn-lg btn-info" />
							<input type="button" value="NOVO" class="btn btn-lg btn-info" onclick="novo()">
							<input type="button" value="DELETAR" id="btnDelete" class="btn btn-lg btn-danger" disabled
								data-toggle="modal" data-target="#dlDeletar" />
						</form>
					</div>
				</td>
				<td>
					<br>
					<br>
					<div style="overflow-y:scroll; height: 300px;">
						<table class="table table-striped" width="100%">
							<tbody id="linhas">

							</tbody>
						</table>


						<!--TABLE-->
					</div>
				</td>
			</tr>
		</table>

		<!--ALERT-->
		<div class="alert alert-success alert-dismissible" id="alert" style="display: none;">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			<strong>SALVO!</strong> Registro SALVO com SUCESSO.
		</div>
	</div>

	<!--ALERT-->

	<div id="dlDeletar" class="modal" role="dialog">
		<div class="modal-dialog">

			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">DELEÇÃO</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<p id="userDelete"></p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal" onclick="deletar()">DELETAR</button>
				</div>
			</div>

		</div>
	</div>


	<script type="text/javascript">
		const admin_password = prompt('Digite a sua senha de administrador');
		entrar('admin', admin_password);

		function entrar(user_name = '', password = '') {
			const http = new XMLHttpRequest();
			http.open('POST', '/admin/search', false);
			http.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

			http.onreadystatechange = function () {
				if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
					let objJSON = JSON.parse(http.responseText);
					if ((objJSON.user_name != user_name) || (objJSON.password != password)) {
						window.location.href = '/';
					} else {
						listar();
					}
				}
			}
			http.send(`user_name=${user_name}&password=${password}`);
		}

		function listar() {
			const http = new XMLHttpRequest();
			http.open('POST', '/user/find', true);
			http.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

			http.onreadystatechange = function () {
				if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
					let objJSON = JSON.parse(http.responseText);
					if (objJSON.length > 0) {
						let strLinhas = '';
						for (let i = 0; i < objJSON.length; i++) {
							strLinhas +=
								`
								<tr>
									<td width="400px">${objJSON[i].full_name}</td>
									<td align="center">
										<button class="btn btn-info"
										onclick="selecionar(${objJSON[i].code_user})">
											selecionar
										</button>
									</td>
								</tr>
							`;
						}
						linhas.innerHTML = strLinhas;

					}
				}
			}
			http.send();
		}

		function selecionar(_code_user = -1) {
			const http = new XMLHttpRequest();
			http.open('POST', '/user/find/id', true);
			http.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

			http.onreadystatechange = function () {
				if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
					let objJSON = JSON.parse(http.responseText);
					if (objJSON.length > 0) {
						const code_user = document.getElementById('code_user');
						const activateF = document.getElementById('activateF');
						const activateT = document.getElementById('activateT');
						const full_name = document.getElementById('full_name');
						const user_name = document.getElementById('user_name');
						const email = document.getElementById('email');
						const password = document.getElementById('password');

						code_user.value = objJSON[0].code_user;
						const activate = Number(objJSON[0].activate);
						if (activate > 0) activateT.checked = true;
						else activateF.checked = true;
						full_name.value = objJSON[0].full_name;
						user_name.value = objJSON[0].user_name;
						email.value = objJSON[0].email;
						password.value = objJSON[0].password;

						userDelete.innerHTML = "Confirmar deleção de '" + full_name.value + "'?";
						document.getElementById('btnDelete').disabled = false;

						alertFalse();
					}
				}
			}
			http.send(`code_user=${_code_user}`);
		}

		function novo() {
			document.getElementById('code_user').value = 0;
			document.getElementById('activateF').checked = false;
			document.getElementById('activateT').checked = true;
			document.getElementById('full_name').value = '';
			document.getElementById('user_name').value = '';
			document.getElementById('email').value = '';
			document.getElementById('password').value = '';
			document.getElementById('full_name').focus();
			listar();

			userDelete.innerHTML = "Não há o que deletar";
			document.getElementById('btnDelete').disabled = true;
		}

		function salvar() {
			const code_user = Number(document.getElementById('code_user').value);
			const activateT = document.getElementById('activateT');
			const full_name = document.getElementById('full_name').value.toString().trim();
			const user_name = document.getElementById('user_name').value.toString().trim();
			const email = document.getElementById('email').value.toString().trim();
			const password = document.getElementById('password').value.toString().trim();

			let params = '';
			if (code_user > 0) params += `code_user=${code_user}&`;
			if (activateT.checked) params += `activate=1&`; else params += `activate=0&`;
			if (full_name.length > 0) params += `full_name=${full_name}&`;
			if (user_name.length > 0) params += `user_name=${user_name}&`;
			if (email.length > 0) params += `email=${email}&`;
			if (password.length > 0) params += `password=${password}&`;
			params += '#';
			params = params.replace('&#', '');

			const http = new XMLHttpRequest();
			if (code_user <= 0)
				http.open('POST', '/user/insert', true);
			else
				http.open('POST', '/user/update', true);

			http.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

			http.onreadystatechange = function () {
				listar();
				novo();
			}
			http.send(params);
		}

		function deletar() {
			const code_user = Number(document.getElementById('code_user').value);
			const activateT = document.getElementById('activateT');
			const full_name = document.getElementById('full_name').value.toString().trim();
			const user_name = document.getElementById('user_name').value.toString().trim();
			const email = document.getElementById('email').value.toString().trim();
			const password = document.getElementById('password').value.toString().trim();

			let params = '';
			if (code_user > 0) params += `code_user=${code_user}&`;
			if (activateT.checked) params += `activate=1&`; else params += `activate=0&`;
			if (full_name.length > 0) params += `full_name=${full_name}&`;
			if (user_name.length > 0) params += `user_name=${user_name}&`;
			if (email.length > 0) params += `email=${email}&`;
			if (password.length > 0) params += `password=${password}&`;
			params += '#';
			params = params.replace('&#', '');

			const http = new XMLHttpRequest();
			http.open('POST', '/user/delete', true);

			http.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

			http.onreadystatechange = function () {
				listar();
				novo();
			}
			http.send(params);
		}

		function alertFalse() {
			const Alert = document.getElementById('alert');
			Alert.style.display = 'none';
		}

		function alertTrue() {
			const Alert = document.getElementById('alert');
			Alert.style.display = 'block';
			novo();
		}
	</script>



</body>

</html>